/* Global Styles */
.container {
  max-width: 1080px;
  margin: 0 auto;
}

::placeholder {
  color: rgb(150, 150, 150);
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

.row {
  display: flex;
  margin: auto;
  align-items: center;
}

.material-icons {
  align-items: center;
  display: flex;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Header Styles */
header {
  position: fixed;
  width: 100%;
  top: 0;
}

.top_bar {
  height: fit-content;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.transparent_bar {
  background-color: transparent;
}

.white_bar {
  background-color: white;
}

.top-bar_right {
  align-items: center;
  justify-content: space-between;
  width: 50%;
  display: flex;
  padding-top: 15px;
  padding-bottom: 10px;
}

.top-bar_left {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-top: 15px;
  padding-bottom: 10px;
}

.thrillo-logo{
  height: 35px;
  width: 175px;
}

.thrillo-logo.white {
  background-image: url("../img/logos/thrillo-logo-white.png");
}

.thrillo-logo.colored {
  background-image: url("../img/logos/thrillo-logo-colored.png");
}

.search-input {
  color: white;
  font-family: "Google Sans", sans-serif;
  font-size: small;
  background: transparent;
  border: none;
  outline-width: 0;
  padding: 15px 15px;
}

.new-badge {
  position: relative;
  top: -10px;
  margin: auto;
  color: white;
  font-size: 0.6em;
  padding: 2px 5px;
  background-color: orangered;
}

.header-text {
  font-family: "Google Sans", sans-serif;
  font-size: small;
  color: white;
  margin-left: 15px;
}

/* HomePage Banner */
.front-banner {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/homepage-banner.jpg");
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: color;
}

.front-banner .container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.front-page_central-intro {
  font-family: "Google Sans";
  height: auto;
  color: white;
  text-align: center;
  margin: auto 0 auto 0;
}

.front-banner .input-bar-container {
  background: white;
  border-radius: 10px;
  width: 900px;
  margin: auto;
}

.front-banner .input-bar {
  background: transparent;
  outline-width: 0;
  border: none;
  font-size: 1.2em;
  padding: 15px 30px;
  width: 900px;
}

.front-banner .search-button {
  background: transparent;
  border: none;
  padding: 15px;
}

.intro-main-text {
  font-size: 4em;
  line-height: 1.2;
}

.intro-main-text.animate {
  font-size: 6em;
  font-weight: bold;
}

.front-page_footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  display: flex;
}

.front-banner .nav-buttons-wrap {
  display: flex;
  width: fit-content;
  flex-direction: row;
  margin: 30px auto 0 auto;
}

.front-banner .nav-buttons-wrap .nav-button {
  font-size: 0.8em;
  border: none;
  align-items: center;
  padding: 15px 30px;
  color: white;
  background-color: rgb(50, 50, 50);
  display: flex;
}

.front-banner .nav-buttons-wrap .nav-button:first-child {
  background-color: orangered;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.front-banner .nav-buttons-wrap .nav-button:last-child {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

